@import "reset.css";
@import "variables.css";
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/setting.css";
@import "screens/chat.css";
@import "component/status-bar.css";
@import "component/nav-bar.css";
@import "component/screen-header.css";
@import "component/user-component.css";
@import "component/badge.css";
@import "component/icon-row.css";
@import "component/alt-screen-header.css";
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2e363e
}

.main-screen{
    padding: 0px var(--horizontal-space)
}

